/* roomInfo.css */
body {
    background-color: #f8f9fa; /* ホワイトカラーの背景 */
    font-family: Arial, sans-serif;
    color: #333; /* ダークグレーのテキストカラー */
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    font-size: 24px;
    color: #b0b0b0; /* 銀色 */
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right span {
    margin-right: 15px;
    font-size: 18px;
    color: #333;
}

.inline-form {
    display: inline;
}

input[type="submit"] {
    background-color: #b0b0b0; /* 銀色 */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

input[type="submit"]:hover {
    background-color: #909090; /* 少し暗い銀色 */
}

h2 {
    color: #b0b0b0; /* 銀色 */
    margin-top: 20px;
}

form {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

table {
    margin: 0 auto;
    width: 50%; /* テーブルの幅を狭く */
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #b0b0b0; /* 銀色 */
    color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

td {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}
